<header>
    <div class="polenta-logo-box">
        <a href="">
            <img src="./assets/diseño/polenta-logo.png" alt="Logo Polenta" />
        </a>
    </div>
    <app-menu></app-menu>
    <nav class="buttons-box">
        <button class="header-buttons" (click)="scrollToElement('entradas')">
            Sacá tus Entradas
        </button>
        <button class="header-buttons" (click)="scrollToElement('puestas-header')">
            Puestas
        </button>
        <button class="header-buttons" (click)="scrollToElement('momentos-polenta')">
            Momentos Polenta
        </button>
        <button class="header-buttons" (click)="scrollToElement('info-polenta')">
            Info
        </button>
        <a class="header-buttons iconos" href="https://www.instagram.com/polenta.polenta" target="_blank"
            rel="noopener external">
            <img src="./assets/redes/instagram-logo.png" alt="Logo Instagram" />
        </a>
        <a class="header-buttons iconos" href="https://spotify.link/ffe57EUw9Ab" target="_blank"
            rel="noopener external">
            <img src="./assets/redes/spotify-logo.png" alt="Logo Spotify" />
        </a>
    </nav>
</header>
<main>
    <div class="background-box">
        <video preload="auto" onloadedmetadata="this.muted=true" autoplay loop playsinline
            src="./assets/back-video.mp4"></video>
    </div>
    <div class="main-container" #mainContainer>
        <div class="hola-polenta-box">
            <p>Hola, llegaste a</p>
            <div class="estatua">
                <img src="./assets/diseño/estatua.png" alt="Imagen estatua griega" />
            </div>
            <div class="polenta-main">
                <img src="./assets/diseño/hola-polenta-logo.png" alt="Logo Polenta" />
            </div>
        </div>
        <div class="entradas-container">
            <div class="entradas-header" id="entradas">
                <button class="header-buttons" (click)="scrollToElement('entradas')">
                    <h1>SACÁ TUS ENTRADAS</h1>
                </button>
            </div>
            <app-entradas></app-entradas>
        </div>
    </div>
</main>