@media only screen and (min-width: 1000px) {
    :host,
    .carousel-container{
        display: flex;
        max-width: 100%;
        width: 95%;
    }
    .comprar{
        font-size: 2rem;
    }
}
