<div class="carousel-container">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" (breakpoint)="breakpoint($event)"
        (init)="slickInit($event)" [config]="slideConfig">
        <div ngxSlickItem class="slide">
            <img src="./assets/entradas/pinamar-0401.png" alt="Ticket NEUQUEN 11/11" />
            <div class="text-box">
                <a href="https://livepass.com.ar/events/polenta-en-pinamar" rel="noopener external" target="_blank">
                    <div class="comprar">COMPRAR</div>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slide">
            <img src="./assets/entradas/carlospaz-0501.png" alt="Ticket CABA 10/11" />
            <div class="text-box">
                <a href="https://alpogo.com/evento/polenta-05-de-enero-keops-13305"
                    rel="noopener external" target="_blank">
                    <div class="comprar">COMPRAR</div>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slide">
            <img src="./assets/entradas/punta-0501.png" alt="Ticket BUENOS AIRES 24/11" />
            <div class="text-box">
                <a href="https://www.passline.com/eventos/polenta-punta-del-este-0501" rel="noopener external"
                    target="_blank">
                    <div class="comprar">COMPRAR</div>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slide">
            <img src="./assets/entradas/pinamar-1101.png" alt="Ticket TEMPERLEY 24/11" />
            <div class="text-box">
                <a href="https://livepass.com.ar/events/polenta-en-pinamar-11-01" rel="noopener external"
                    target="_blank">
                    <div class="comprar">COMPRAR</div>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slide">
            <img src="./assets/entradas/mdq-1301.png" alt="Ticket TEMPERLEY 24/11" />
            <div class="text-box">
                <a href="https://venti.com.ar/evento/polenta-x-horizonte/Polenta" rel="noopener external"
                    target="_blank">
                    <div class="comprar">COMPRAR</div>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slide">
            <img src="./assets/entradas/pinamar-1801.png" alt="Ticket Pinamar 18/01" />
            <div class="text-box">
                <a href="https://livepass.com.ar/events/polenta-en-pinamar-18-01" rel="noopener external"
                    target="_blank">
                    <div class="comprar">COMPRAR</div>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slide">
            <img src="./assets/entradas/pinamar-2501.png" alt="Ticket TEMPERLEY 24/11" />
            <div class="text-box">
                <a href="https://livepass.com.ar/events/polenta-en-pinamar-25-01"
                    rel="noopener external" target="_blank">
                    <div class="comprar">COMPRAR</div>
                </a>
            </div>
        </div>
    </ngx-slick-carousel>
</div>